<%
  title @room.name
%>

<div class="row leaflet">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Leaflet</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @room.stories.each do |story| %>
            <li class="list-group-item">
              <h4><%= link_to show_story_link(story.link), story.link, target: "_blank" %></h4>
              <p><%= story.desc %></p>
              <%= render partial: "rooms/leaflets/point_options", locals: { room: @room, story: story } %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <input type="button" name="commit" value="Submit" class="btn btn-default leaflet__submit" data-disable-with="Submit">
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
<input type="hidden" id="roomId" value="<%= @room.slug %>" />
<input type="hidden" id="roomName" value="<%= @room.name %>" />
<input type="hidden" id="role" value="<%= UserRoom.find_by_with_cache(user_id: current_user.id, room_id: @room.id).display_role %>" />
<input type="hidden" id="currentVote" value="<%= current_user.points_of_story(@room.current_story_id) %>" />
<input type="hidden" id="roomState" value="<%= @room.state %>" />
<input type="hidden" id="pointValues" value=<%= @room.point_values.to_json.html_safe %> />
<input type="hidden" id="timerInterval" value="<%= @room.timer_interval %>" />
<input type="hidden" id="freeStyle" value="<%= @room.free_style? %>" />
<%= action_cable_meta_tag %>

<script type="text/javascript">
  Raven.config('https://e1070f75c7b24052a1784b4ce297b9e2@sentry.io/221730').install()
</script>
