<%
  title @room.name
%>

<script src="https://browser.sentry-cdn.com/4.4.1/bundle.min.js" crossorigin="anonymous"></script>
<input type="hidden" id="roomId" value="<%= @room.slug %>" />
<input type="hidden" id="roomState" value="<%= @room.state %>" />

<div class="row leaflet">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Async room overview</h3>
      </div>
      <div class="panel-body">
        <div class="clearfix">
          <div class="pull-left"><h3 class="leaflet__name"><%= @room.name %></h3></div>
          <div class="btn-group pull-right" role="group">
            <% if !@room.closed? %>
              <a href="<%= edit_room_path(@room.slug) %>" class="btn btn-default">✏️ Edit room</a>
            <% end %>
            <button type="button" onClick="copyToClipboard()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">📻 Share link</button>
            <a href="<%= summary_room_path(@room.slug)%>" class="btn btn-default ">📊 Summary</a>
            <% if !@room.closed? %>
              <%= link_to "🏁 Close room", set_room_status_room_path(@room.slug, status: "draw"), remote: true, method: "post", "data-confirm": "Are you sure to close current room?", class: "btn btn-default"%>
            <% end %>
          </div>
          <div id="tooltip-area"></div>
          <input type="text" id="hiddenField" class="leaflet__room-share-link" value="<%= room_url(@room.slug) %>" />
        </div>
        <hr class="leaflet__view-split"/>
        <% @story_points.each do |story_item| %>
          <h4><%= link_to story_item[:link], show_story_link(story_item[:link]), target: "_blank" %></h4>
          <p class="leaflet__ticket-desc"><%= story_item[:desc] %></p>
          <% if story_item[:individuals].blank? %>
            <div class="alert alert-info" role="alert">No one vote yet...Start sending the room link to your team members.</div>
          <% else %>
            <table class="table">
              <thead>
                <th class="col-md-3">Participant</th>
                <th class="col-md-1">Point</th>
                <th class="col-md-7">Comment</th>
                <th class="col-md-1">Operation</th>
              </thead>
              <tbody>
                <% story_item[:individuals].each do |individual| %>
                  <tr data-vote-id="<%= individual[:user_story_point_id] %>">
                    <td>
                      <a href="javascript:void(0);" class="person">
                        <i class="person__avatar"><%= image_tag individual[:user_avatar], class: "profile-image img-circle"%></i>
                        <%= individual[:user_name] %>
                      </a>
                    </td>
                    <td>
                      <%= individual[:user_point] %>
                    </td>
                    <td><%= individual[:user_story_point_comment] %></td>
                    <td class="table__finalize-link-col">
                      <span class="finalize-link-col__check-icon <%= "hidden" unless individual[:user_story_point_finalized] %>">
                        ✅
                      </span>
                      <a href="javascript:void(0);" class="finalize-link-col__finalize-link <%= "hidden" if individual[:user_story_point_finalized] %>">Finalize</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <hr class="row" />
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "rooms/leaflets/board", locals: { room_id: @room.slug } %>
<script type="text/javascript">
  Sentry.init({ dsn: 'https://e1070f75c7b24052a1784b4ce297b9e2@sentry.io/221730' });
</script>
