<%
  title @room.name
%>

<input type="hidden" id="roomId" value="<%= @room.slug %>" />

<div class="row leaflet">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Leaflet overview</h3>
      </div>
      <div class="panel-body">
        <% @story_points.each do |story_item| %>
          <table class="table">
            <thead>
              <th>User</th>
              <th>Point</th>
              <th>Comment</th>
              <th>Operation</th>
            </thead>
            <tbody>
              <p class="lead"><%= link_to story_item[:link], show_story_link(story_item[:link]), target: "_blank" %></p>
              <% story_item[:individuals].each do |individual| %>
                <tr data-vote-id="<%= individual[:user_story_point_id] %>">
                  <td>
                    <a href="javascript:void(0);" class="person">
                      <i class="person__avatar"><%= image_tag individual[:user_avatar], class: "profile-image img-circle"%></i>
                      <%= individual[:user_name] %>
                    </a>
                  </td>
                  <td>
                    <%= individual[:user_point] %>
                  </td>
                  <td></td>
                  <td class="table__finalize-btn-col">
                    <span class="finalize-btn-col__check-icon <%= "hidden" unless individual[:user_story_point_finalized] %>">
                      ✅
                    </span>
                    <a href="javascript:void(0);" class="finalize-btn-col__finalize-btn <%= "hidden" if individual[:user_story_point_finalized] %>">Finalize</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

