<%
  title "Dashboard"
%>

<div class="dashboard">
  <div class="row stats">
    <div class="col-md-3">
      <div class="panel panel-none">
        <div class="panel-heading"><h5>Stories groomed</h5></div>
        <div class="panel-body">
          <p class="lead stats--data"><%= @user.stories_groomed_count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-none">
        <div class="panel-heading"><h5>Time spent</h5></div>
        <div class="panel-body">
          <p class="lead stats--data"><%= (@user.time_spent/60).round(2) %> Mins</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-none">
        <div class="panel-heading"><h5>Average per story</h5></div>
        <div class="panel-body">
          <p class="lead stats--data">
            <%= @user.avg_per_story %>
            Secs
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-none">
        <div class="panel-heading"><h5>Skip rate</h5></div>
        <div class="panel-body">
          <p class="lead stats--data"><%= number_to_percentage @user.skip_rate, precision: 2 %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-none history">
    <div class="panel-heading"><h5>History</h5></div>
    <div class="panel-body">
      <canvas id="myChart" width="400" height="260"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-none">
        <div class="panel-heading"><h5>Rooms</h5></div>
        <div class="panel-body participated">
          <%= render partial: "dashboard/room_item", collection: @user.participated_rooms, as: :room, cache: true %>
        </div>
        <div class="panel-footer">
          <a href="javascript:;" class="more">More</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-none">
        <div class="panel-heading"><h5>Stories recently groomed</h5></div>
        <div class="panel-body">
          <div class="list-group">
            <%= render partial: "dashboard/story_item", collection: @user.recent_stories, as: :story %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="chartLabels" value="<%= @user.timestamp_for_line_chart.to_json %>" />
<input type="hidden" id="chartData" value="<%= @user.story_size_for_line_chart.to_json %>" />
