<%
  title "Billing"
%>

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
  Paddle.Setup({ vendor: 36288 });
</script>

<div class="row billing">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Billing overview</h3>
      </div>
      <div class="panel-body">
        <div class="billing__plan">
          <div class="row">
            <div class="col-md-2 plan__key">
              Plan
            </div>
            <div class="col-md-10">
              <b>
                <%= current_user.premium? ? "Premium" : "Free"%>
              </b>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-2 plan__key">
              Purchase
            </div>
            <div class="col-md-10">
              <% if current_user.subscription_active? %>
                <a href="<%= current_user.subscription_cancel_url %>">Cancel subscription</a>
              <% else %>
                <%= form_tag payments_path, method: "POST", class: "form-inline" do %>
                  <a href="#!" class="paddle_button btn btn-success plan__submit" data-product="542882" data-passthrough="<%= current_user.email %>" data-email="<%= current_user.email %>" data-marketing-consent="true">Upgrade</a>
                <% end %>
              <% end %>
            </div>
          </div>
          <hr />
          <div class="billing__history">
            <h4>Payment history</h4>
            <% if @orders.blank? %>
              <div class="well">
                <div class="text-center">You have not made any payments.</div>
              </div>
            <% else %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Plan</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                    <tr>
                      <td><%= l order.created_at, format: :brief %></td>
                      <td><%= order.name %></td>
                      <td><%= number_to_currency order.price, unit: "$" %></td>
                      <td><%= order.quantity %></td>
                      <td><%= number_with_precision(order.price * order.quantity, precision: 2) %></td>
                      <td><span class="label label-default label-<%= order.friendly_status.downcase %>"><%= order.friendly_status %></span></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
