<% cache "#{I18n.locale}:#{Rails.root}" do %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("site.title") %> | Pokrex</title>
  <meta name="description" content="<%= default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <meta property="og:url" content="https://pokrex.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pokrex" />
  <meta property="og:description" content="<%= default_description %>" />
  <meta property="og:image" content="/apple-icon-180x180.png" />
  <meta name="msvalidate.01" content="45F405A67E63F229A3F534A29438ED15" />
</head>
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebApplication",
      "name": "Pokrex",
      "alternateName": "Planning Poker",
      "url": "https://pokrex.com",
      "applicationCategory": "Tool, agile estimating",
      "operatingSystem": "OSX, Windows, iOS, Android",
      "screenshot": [
        "<%= image_url("room.png") %>",
        "<%= image_url("dashboard.jpg") %>",
        "<%= image_url("scheme.jpg") %>"
      ],
      "author": {
        "@type": "Person",
        "name": "Alex Shi"
      },
      "offers": {
        "@type": "Offer",
        "availability": "http://schema.org/InStock",
        "price": 0,
        "priceCurrency": "USD"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": "57",
        "ratingValue": "5"
      }
    }
  </script>
</head>
<body class="home">
  <div class="container-fluid">
    <div class="row header-section">
      <div class="container">
        <a class="logo" href="/">
          Pokre<span>x</span>
        </a>
        <div class="header-actions pull-right">
          <a href="<%= new_user_session_path %>" class="link login navbar-btn"><%= t("user.login") %></a>
          <a href="<%= new_user_registration_path %>" class="link sign-up btn btn-reg navbar-btn"><%= t("user.signup") %></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row neck">
      <div class="slogan">
        <h1><%= t("site.slogan") %></h1>
        <span><%= t("site.sub_slogan") %></span>
      </div>
      <div class="sign-up container">
        <div class="row action input">
          <div class="get-started col-md-5">
              <div class="input-group input-group-lg">
                <input type="email" name="email" class="form-control email" value="" placeholder="<%= t("user.email_address") %>">
                <a class="input-group-btn" id="sign-up-btn" href="<%= new_user_registration_path %>" target="_blank">
                  <button class="btn btn-info" type="button"><%= t("user.join") %></button>
                </a>
              </div>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="row view-section">
      <div class="container">
        <div class="col-xs-8 col-md-8 image-section">
          <%= image_tag "room.png", alt: t("intro.room_alt") %>
        </div>

        <div class="col-xs-4 col-md-4 text-section">
          <h2><%= t("intro.room") %></h2>
          <h3><%= t("intro.room_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check"></i><%= t("intro.room_f_1") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.room_f_2") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.room_f_3") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.room_f_4") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.room_f_5") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section">
      <div class="container">
        <div class="col-xs-4 col-md-4 text-section">
          <h2><%= t("intro.dashboard") %></h2>
          <h3><%= t("intro.dashboard_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check"></i><%= t("intro.dashboard_f_1") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.dashboard_f_2") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.dashboard_f_3") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.dashboard_f_4") %></li>
          </ul>
        </div>
        <div class="col-xs-8 col-md-8 image-section">
          <%= image_tag "dashboard.jpg", alt: t("intro.dashboard_alt") %>
        </div>
      </div>
    </div>
    <div class="row view-section">
      <div class="container">
        <div class="col-xs-8 col-md-8 image-section">
          <%= image_tag "scheme.jpg", alt: t("intro.scheme_alt") %>
        </div>
        <div class="col-xs-4 col-md-4 text-section">
          <h2><%= t("intro.scheme") %></h2>
          <h3><%= t("intro.scheme_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check"></i><%= t("intro.scheme_f_1") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.scheme_f_2") %></li>
            <li><i class="fa fa-check"></i><%= t("intro.scheme_f_3") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <div id="sign-up-form">
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= t("user.join") %></h4>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-7342688-3', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Start of Async Drift Code -->
  <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
        t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
      return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
    }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('itkzz4isvb7e');
  </script>
  <!-- End of Async Drift Code -->
</body>
</html>
<% end %>
