<!DOCTYPE html>
<html>
<head>
  <title>Pointing Poker | Pokr</title>
  <meta name="description" content="<%= default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <meta property="og:url" content="https://pokrex.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pokr" />
  <meta property="og:description" content="<%= default_description %>" />
  <meta property="og:image" content="/apple-icon-180x180.png" />
</head>
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Pokr",
      "alternateName": "Pointing Poker",
      "url": "https://pokrex.com"
    }
  </script>

</head>
<body>
  <div class="container-fluid">
    <div class="row header-section">
      <div class="container">
        <a class="logo" href="/">
          Pokr
        </a>
        <div class="header-actions pull-right">
          <a href="<%= new_user_session_path %>" class="btn btn-default navbar-btn">Sign in</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row neck">
      <div class="slogan">
        <h1>
          Yet another poker
        </h1>
        <h2>We're trying to build a cool and modern pointing/planning poker for engineers, aim at improving the efficiency and user experience driven by making-thing-better.</h2>
      </div>
      <div class="sign-up container">
        <div class="row action input">
          <div class="get-started col-md-12">
            <%= form_tag home_sign_up_path, class: 'form-inline text-center', method: :post do |f| %>
              <div class="input-group input-group-lg">
                <input type="email" name="email" class="form-control email" value="" placeholder="Email address">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit">Sign up</button>
                </span>
              </div>
            <% end %>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="row footer">
      <div class="container">
        <div class="empower">
          <!-- <h5>We're just serious</h5> -->
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="tab-first">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Efficient</h3>
              </div>
            </div>

            <div class="col-xs-6 col-md-4">
              <div class="tab-second">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Easy</h3>
              </div>
            </div>

            <div class="col-xs-6 col-md-4">
              <div class="tab-third">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Elegant</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tail">
      <%= render 'layouts/social' %>
    </div>
    </div>
  </div>
  <%= render 'layouts/feedback' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7342688-3', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>