<% cache "#{I18n.locale}:#{Rails.root}" do %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("site.title") %> | Pokrex</title>
  <meta name="description" content="<%= default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <meta property="og:url" content="https://pokrex.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pokrex" />
  <meta property="og:description" content="<%= default_description %>" />
  <meta property="og:image" content="/apple-icon-180x180.png" />
  <meta name="msvalidate.01" content="45F405A67E63F229A3F534A29438ED15" />
</head>
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebApplication",
      "name": "Pokrex",
      "alternateName": "Planning Poker",
      "url": "https://pokrex.com",
      "applicationCategory": "Tool, agile estimating",
      "operatingSystem": "OSX, Windows, iOS, Android",
      "screenshot": [
        "<%= image_url("home/room.png") %>",
        "<%= image_url("home/scheme.jpg") %>",
        "<%= image_url("home/synk.png") %>",
        "<%= image_url("home/dashboard.jpg") %>"
      ],
      "author": {
        "@type": "Person",
        "name": "Alex Shi"
      },
      "offers": {
        "@type": "Offer",
        "availability": "http://schema.org/InStock",
        "price": 0,
        "priceCurrency": "USD"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": "57",
        "ratingValue": "5"
      }
    }
  </script>
</head>
<body class="home">
  <div class="container-fluid">
    <div class="row header-section">
      <div class="container">
        <a class="logo" href="/">
          Pokre<span>x</span>
        </a>
        <div class="header-actions pull-right">
          <a href="<%= new_user_session_path %>" class="link login navbar-btn"><%= t("user.login") %></a>
          <a href="<%= new_user_registration_path %>" class="link sign-up btn btn-reg navbar-btn"><%= t("user.signup") %></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row neck">
      <div class="col-xs-12 col-md-6 neck__hero-text">
        <div class="slogan">
          <h1><%= t("site.slogan") %></h1>
          <h2><%= t("site.sub_slogan") %></h2>
        </div>
        <div class="row neck__sign-up">
          <div class="get-started col-md-8">
            <div class="input-group input-group-lg">
              <input type="email" name="email" class="form-control email" value="" placeholder="<%= t("user.email_address") %>">
              <a class="input-group-btn" id="sign-up-btn" href="<%= new_user_registration_path %>" target="_blank">
                <button class="btn btn-info" type="button"><%= t("user.join") %></button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 neck__video">
        <img src="<%= image_path("home/hero.png") %>" />
      </div>
      <div class="sign-up container">
      </div>
    </div>
    <div class="row view-section logos">
      <div class="container">
        <div class="row">
          <h3><%= t("logos.title") %></h3>
        </div>
        <div class="row logos__row-1">
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/activenetwork.jpg", alt: "ActiveNetwork" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/accenture.png", alt: "Accenture" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/cos.png", alt: "Center for open science" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/gelato.jpg", alt: "Gelato" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/siemens.png", alt: "Siemens" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/hobsons.jpg", alt: "Hobsons" %>
          </div>
        </div>
        <div class="row logos__row-2">
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/pwc.png", alt: "PWC" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/rsm.png", alt: "RSM" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/join.png", alt: "Join.com" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/dell.png", alt: "Dell" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/comcast.png", alt: "Comcast" %>
          </div>
          <div class="col-xs-2 col-md-2">
            <%= image_tag "logos/intel.png", alt: "Intel" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-1">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section">
          <%= image_tag "home/room.png", alt: t("intro.room_alt") %>
        </div>

        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.room") %></h2>
          <h3><%= t("intro.room_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-2">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section pull-right">
          <%= image_tag "home/scheme.jpg", alt: t("intro.scheme_alt") %>
        </div>
        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.scheme") %></h2>
          <h3><%= t("intro.scheme_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-3">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section">
          <%= image_tag "home/synk.png", alt: t("intro.synk_alt") %>
        </div>
        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.synk") %></h2>
          <h3><%= t("intro.synk_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-4">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section pull-right">
          <%= image_tag "home/dashboard.jpg", alt: t("intro.dashboard_alt") %>
        </div>
        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.dashboard") %></h2>
          <h3><%= t("intro.dashboard_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-5 pricing">
      <div class="container">
        <h3>Ready to unleash your potential?</h3>
        <div class="row">
          <div class="col-md-3 col-xs-12 col-md-offset-3">
            <div class="pricing__plan">
              <h4>Free</h4>
              <div class="plan__amount">
                <%= t("plan_price", price: 0) %>
              </div>
              <div class="plan__duration">
                per month
              </div>
              <ul>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.free.free_1") %></p></li>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.free.free_2") %></p></li>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.free.free_3") %></p></li>
              </ul>
            </div>
            <a href="<%= new_user_registration_path %>" class="plan__sign-up btn btn-info btn-lg" title="Get started"><%= t("pricing.get_started")%></a>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="pricing__plan">
              <h4>Premium</h4>
              <div class="plan__amount">
                <%= t("plan_price", price: plan_price(7)) %>
              </div>
              <div class="plan__duration">
                per team/month
              </div>
              <ul>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.pro.pro_1") %></p></li>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.pro.pro_2") %></p></li>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.pro.pro_3") %></p></li>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.pro.pro_4") %></p></li>
                <li><div class="plan__check pull-left"></div><p><%= t("pricing.pro.pro_5") %></p></li>
              </ul>
            </div>
            <a href="<%= pricing_path %>" class="plan__see-more" title="see more pricing info"><%= t("pricing.see_more")%></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <div id="sign-up-form">
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= t("user.join") %></h4>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/feedback" %>
  <%= render "layouts/tracking" %>
</body>
</html>
<% end %>
