<!DOCTYPE html>
<html>
<head>
  <title>Pointing Poker | Pokr</title>
  <meta name="description" content="<%= default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row header-section">
      <div class="container">
        <a class="logo" href="javascript:;">
          Pokr
        </a>
        <div class="header-actions pull-right">
          <a href="<%= new_user_session_path %>" class="btn btn-default navbar-btn">Sign in</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row neck">
      <div class="slogan">
        <h1>
          Yet another poker
        </h1>
        <h6>We're trying to build a cool and modern poker for engineers, aim for improving the efficiency and user experience driven by making-thing-better.</h6>
      </div>
      <div class="sign-up container">
        <div class="row action input">
          <div class="get-started col-md-12">
            <%= form_tag home_sign_up_path, class: 'form-inline text-center', method: :post do |f| %>
              <div class="input-group input-group-lg">
                <input type="email" name="email" class="form-control email" value="" placeholder="Email address">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit">Sign up</button>
                </span>
              </div>
            <% end %>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="row footer">
      <div class="container">
        <div class="empower">
          <!-- <h5>We're just serious</h5> -->
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="tab-first">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Fast</h3>
              </div>
            </div>

            <div class="col-xs-6 col-md-4">
              <div class="tab-second">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Simple</h3>
              </div>
            </div>

            <div class="col-xs-6 col-md-4">
              <div class="tab-third">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Elegant</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tail">
      <!-- Place this tag in your head or just before your close body tag. -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/hlcfan/pokr" data-count-href="/hlcfan/pokr/stargazers" data-count-api="/repos/hlcfan/pokr#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star hlcfan/pokr on GitHub">Star me!</a>
    </div>
  </div>
</body>
</html>