<!DOCTYPE html>
<html>
<head>
  <title>Planning Poker | Pokr</title>
  <meta name="description" content="<%= default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <meta property="og:url" content="https://pokrex.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pokr" />
  <meta property="og:description" content="<%= default_description %>" />
  <meta property="og:image" content="/apple-icon-180x180.png" />
</head>
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag "home", "data-turbolinks-track" => "reload" %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Pokr",
      "alternateName": "Planning Poker",
      "url": "https://pokrex.com"
    }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="row header-section">
      <div class="container">
        <a class="logo" href="/">
          Pokrex
        </a>
        <div class="header-actions pull-right">
          <a href="<%= new_user_session_path %>" class="btn navbar-btn">Login</a>
          <a href="<%= new_user_registration_path %>" class="btn btn-reg navbar-btn">Sign up</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row neck">
      <div class="slogan">
        <h1>
          The easiest way to planning poker
        </h1>
        <h2>
          Make agile estimating and planning easy with our online planning or scrum poker tool, aiming at simplicity and efficiency.
        </h2>
      </div>
      <div class="sign-up container">
        <div class="row action input">
          <div class="get-started col-md-5">
              <div class="input-group input-group-lg">
                <input type="email" name="email" class="form-control email" value="" placeholder="Email address">
                <a class="input-group-btn" id="sign-up-btn" href="<%= new_user_registration_path %>" target="_blank">
                  <button class="btn btn-info" type="button">Sign up</button>
                </a>
              </div>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="row footer">
      <div class="container">
        <div class="empower">
          <!-- <h5>We're just serious</h5> -->
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="tab-first">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Efficient</h3>
              </div>
            </div>

            <div class="col-xs-6 col-md-4">
              <div class="tab-second">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Easy</h3>
              </div>
            </div>

            <div class="col-xs-6 col-md-4">
              <div class="tab-third">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Elegant</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tail">
      <%= render 'layouts/social' %>
    </div>
    </div>
  </div>
  <%= render 'layouts/feedback' %>
  <div id="sign-up-form">
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign up</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Sign up", class: 'btn btn-info' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-7342688-3', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>