<% form_url = @room.new_record? ? "/rooms" : room_path(@room.slug) %>
<%= form_for @room, url: form_url, html: { id: 'room-form', class: 'form', role: 'form' } do |f| %>
  <% if @room.errors.any? %>
    <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

    <ul class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <%= f.label :timer, "Egg Timer" %>
        <%= f.select :timer, {"1 min" => 1, "2 min" => 2, "3 min" => 3, "4 min" => 4, "5 min" => 5}, { include_blank: "No timer", selected: f.object.timer.to_i }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label>
          Style
        </label>
        <div class="checkbox">
          <label>
            <%= f.check_box :style %>
            Free Style?
            <i class="fa fa-info-circle room--style--icon" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="Free Style? (aka. one story mode, is old-style way which only focus on vote.)"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Point values" %>
    <%= f.hidden_field :pv, id: 'point-values' %>
    <ul class="list-inline point-values">
      <%= generate_point_values(@room.point_values) %>
    </ul>
  </div>
  <section class="stories-section panel panel-primary" id="story-section">
    <div class="panel-heading">
      Stories
      <% if @room.new_record? %>
        <a class="pull-right import" href="javascript:;" data-status="input">
          <i class="fa fa-list" aria-hidden="true"></i>
          Import from list?
        </a>
      <% end %>
    </div>
    <div class="panel-body" id="story-row">
      <%= render partial: 'rooms/story_form', locals: { f: f } %>
      <% if @room.new_record? %>
        <div class="row bulk-links" style="display: none;">
          <%= hidden_field_tag :bulk %>
          <%= text_area_tag :bulk_links, nil, placeholder: "One line one story, i.e.\nstory_link1\nstory_link2\nstory_link3\n...", class: 'form-control col-xs-10' %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <button type="button" class="add btn btn-info">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </section>
  <div class="form-group">
    <%= f.label "Add moderators" %>
    <%= f.hidden_field :moderators %>
    <input class="form-control room--moderators" type="text" value="<%= @room.moderator_names %>">
  </div>
  <div class="actions form-group">
    <%= f.submit "Submit", class: 'btn btn-default' %>
  </div>
<% end %>