<div class="panel panel-default">
  <div class="panel-heading">People</div>
  <div class="vote-list monitor-panel panel-body row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <% @room.users.each do |user| %>
          <li id="p-<%= user.id %>" data-user-id="<%= user.id %>" data-name="<%= user.name %>">
            <span class="name"><%= user.name %>: </span>
            <span class="points">
              <%= user.points_of_story cookies[:story_id] %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
