<% if room.new_record? %>
  <div class="schemes-type">
    <% my_point_schemes.each do |scheme_id, scheme| %>
      <%
          scheme_name = scheme[:name]
      scheme_points = scheme[:points]
    %>
      <span class="label <%= scheme_id == room.scheme ? "label-info" : "label-default" %>" data-target="<%= scheme_id %>"><%= scheme_name %></span>
    <% end %>
    <a class="label label-warning" target="_blank" href="<%= schemes_path %>">customize</a>
  </div>
  <hr />
<% end %>
<div>
  <% my_point_schemes.each do |scheme_id, scheme| %>
    <ul data-scheme-type="<%= scheme_id %>" class="<%= scheme_id %> list-inline point-values <%= "active" if room.scheme == scheme_id %>">
      <%= render_point_values(true, scheme[:points], room.point_values) %>
    </ul>
  <% end %>
</div>
