<div>
  <% Room::DEFAULT_POINT_VALUES.each do |scheme_type, numbers| %>
    <span class="label label-primary" data-target="<%= scheme_type %>"><%= scheme_type %></span>  
  <% end %>
</div>
<div>
  <% Room::DEFAULT_POINT_VALUES.each do |scheme_type, numbers| %>
    <ul data-scheme-type="<%= scheme_type %>" class="<%= scheme_type %> list-inline point-values <%= "active" if @room.scheme_type == scheme_type %>">
      <%= render_point_values(numbers, @room.point_values, scheme_type) %>
    </ul>
  <% end %>
</div>