<%= f.nested_fields_for :stories do |story| %>
  <div class="row">
    <div class="form-group col-xs-1 form-group-sm move-btn">
      <a href="javascript:;" class="move">↕️</a>
    </div>
    <%
      linkWidthClass = if is_mobile_request?
        "col-xs-9"
      else
        "col-xs-5"
      end
    %>
    <div class="form-group <%= linkWidthClass %> form-group-sm">
      <%= story.label :link, 'Story', class: 'type-name' %>
      <%= story.text_field :link, class: 'form-control', placeholder: 'Link or title' %>
    </div>
    <% unless is_mobile_request? %>
      <div class="form-group col-xs-5 form-group-sm">
        <%= story.label :desc, 'Short Description', class: 'type-name' %>
        <%= story.text_area :desc, class: 'form-control', placeholder: 'Description - optional' %>
      </div>
    <% end %>
    <div class="form-group col-xs-1 form-group-sm remove-btn">
      <a href="javascript:;" class="remove">⛔️</a>
    </div>
    <%= story.hidden_field :id %>
    <%= story.hidden_field :_destroy %>
  </div>
<% end %>
