<%= f.nested_fields_for :stories do |story| %>
  <div class="row">
    <div class="form-group col-xs-6 form-group-sm">
      <%= story.label :link, 'Story Link', class: 'type-name' %>
      <%= story.text_field :link, class: 'form-control', placeholder: 'link' %>
    </div>
    <div class="form-group col-xs-5 form-group-sm">
      <%= story.label :desc, 'Short Description', class: 'type-name' %>
      <%= story.text_area :desc, class: 'form-control', placeholder: 'desc' %>
    </div>
    
    <div class="form-group col-xs-1 form-group-sm remove-btn">
      <label>Delete</label>
      <a href="javascript:;" class="remove"><i class="fa fa-trash-o fa-2x"></i></a>
    </div>
    <%= story.hidden_field :id %>
    <%= story.hidden_field :_destroy %>
  </div>
<% end %>