<%
  title @room.name
%>

<% content_for(:page_head) do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<%= javascript_include_tag "room_init" %>
<input type="hidden" id="roomId" value="<%= @room.slug %>" />
<input type="hidden" id="roomName" value="<%= @room.name %>" />
<input type="hidden" id="role" value="<%= UserRoom.find_by_with_cache(user_id: current_user.id, room_id: @room.id).display_role %>" />
<input type="hidden" id="currentVote" value="<%= current_user.points_of_story(@room.current_story_id) %>" />
<input type="hidden" id="roomState" value="<%= @room.state %>" />
<input type="hidden" id="pointValues" value=<%= @room.point_values.to_json.html_safe %> />
<input type="hidden" id="timerInterval" value="<%= @room.timer_interval %>" />
<input type="hidden" id="freeStyle" value="<%= @room.free_style? %>" />
<%= action_cable_meta_tag %>
<!-- <div class="room" id="room"></div>
<div id="board"></div> -->
<%= react_component("Room",
  props: {roomId: @room.slug,
          roomName: @room.name,
          role: UserRoom.find_by_with_cache(user_id: current_user.id, room_id: @room.id).display_role,
          roomState: @room.state,
          pointValues: @room.point_values,
          timerInterval: @room.timer_interval,
          freeStyle: @room.free_style?,
          storyListUrl: "/rooms/#{@room.slug}/story_list.json",
          peopleListUrl: "/rooms/#{@room.slug}/user_list.json",
          currentVote: current_user.points_of_story(@room.current_story_id)
          },
  prerender: false) %>
