<%
  title @room.name
%>
<%= javascript_include_tag "components", "rooms" %>
<script type="text/javascript" charset="utf-8">
  (function(){
    POKER.roomId = '<%= @room.slug %>';
    POKER.roomName = '<%= @room.name %>';
    POKER.role = '<%= UserRoom.find_by_with_cache(user_id: current_user.id, room_id: @room.id).display_role %>';
    POKER.currentVote = '<%= current_user.points_of_story(@room.current_story_id) %>';
    POKER.roomState = '<%= @room.state %>';
    POKER.pointValues = <%= @room.point_values.to_json.html_safe %>;
  }());
</script>
<%= action_cable_meta_tag %>
<div class="room" id="room"></div>
<div id="board"></div>
