<%
  title @room.name
%>
<script type="text/javascript" charset="utf-8">
  (function(){
    POKER.roomId = '<%= @room.slug %>';
    POKER.roomName = '<%= @room.name %>';
    POKER.role = '<%= UserRoom.find_by(room_id: @room.id, user_id: current_user.id).display_role %>';
    POKER.currentVote = '<%= current_user.points_of_story(@room.current_story_id) %>';
    POKER.roomState = '<%= @room.state %>';
  }());
</script>

<div class="room" id="room"></div>
<div id="board"></div>
