<%
  form_title = guest_user? ? "Set Password" : "Edit Password"
%>
<div class="panel panel-default">
  <div class="panel-heading"><%= form_title %></div>
  <div class="panel-body">
    <%= form_for @user, url: {action: :update_password}, html: { id: "edit-user-password", class: "form", role: "form" } do |f| %>
      <% if @user.errors.any? %>
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited your profile from being saved:</h5>

        <ul class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <% unless guest_user? %>
         <div class="form-group">
          <%= f.label :current_password, "Current password" %><br />
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Change my password", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
