<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + ' | ' if content_for?(:title) %>Pokrex</title>
  <meta name="description" content="<%= content_for?(:description_meta_content) ? content_for(:description_meta_content) : default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :page_head if content_for? :page_head %>
  <%= csrf_meta_tags %>
  <link rel="prefetch" href="<%= asset_pack_path("vendor-bundle.js") %>">
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">
<%= render 'layouts/nav' %>
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>
<% if controller_name != "rooms" %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/footer' %>
    </div>
  </div>
<% end %>
<%= render "layouts/feedback" %>
<%= render "layouts/tracking" %>
</body>
</html>
