<!DOCTYPE html>
<html>
<head>
  <title>Poker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    var POKER = window['POKER'] = function(){};
    <% if current_user %>
      POKER.currentUser = { name: '<%= current_user.display_name %>', role: '<%= current_user.display_role %>' };
    <% end %>

  </script>
</head>
<body>
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>
</body>
</html>
