<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + ' | ' if content_for?(:title) %>Pokrex</title>
  <meta name="description" content="<%= content_for?(:description_meta_content) ? content_for(:description_meta_content) : default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :page_head if content_for? :page_head %>
  <%= csrf_meta_tags %>
  <link rel="prefetch" href="<%= asset_pack_path("vendor-bundle.js") %>">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5KMHRSN');</script>
  <!-- End Google Tag Manager -->
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KMHRSN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%= render 'layouts/nav' %>
  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>
  <% if controller_name != "rooms" %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  <% end %>
  <%= render "layouts/feedback" %>
  <%= render "layouts/tracking" %>
  <% if content_for(:premium_identifier) %>
    <%= yield(:premium_identifier) %>
  <% else %>
    <input type="hidden" id="premium-user-identifier" value="<%= signed_in? && current_user.premium? %>" />
  <% end %>
  <div class="modal fade" tabindex="-1" role="dialog" id="billing-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">😎Be our premium member</h4>
        </div>
        <div class="modal-body">
          <h4>Premium member will have following privileges:</h4>
          <div class="pricing">
            <div class="pricing__plan">
              <ul>
                <li><div class="plan__check pull-left"></div><p>Unlimited rooms</p></li>
                <li><div class="plan__check pull-left"></div><p>Customized point schemes</p></li>
                <li><div class="plan__check pull-left"></div><p>Unlimited parcitipants</p></li>
                <li><div class="plan__check pull-left"></div><p>JIRA integration</p></li>
                <li><div class="plan__check pull-left"></div><p>Async game mode</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-info" target="_blank" href="<%= billing_path %>">Be premium</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="browser-extension-check"></div>
</body>
</html>
