<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + ' | ' if content_for?(:title) %>Pokr</title>

  <meta name="description" content="<%= content_for?(:description_meta_content) ? content_for(:description_meta_content) : default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    var POKER = window['POKER'] = function(){};
    <% if current_user %>
      POKER.currentUser = { name: '<%= current_user.display_name %>', role: '<%= current_user.display_role %>' };
    <% end %>

  </script>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>
</body>
</html>
